# ansible/roles/protocols/templates/wireguard/wg0.conf.j2
[Interface]
Address = {{ wireguard_server_address }}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_private_key }}
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
