# roles/protocols/templates/ssh/banner.j2
***************************************************************************
*                                                                         *
*                        Welcome to IRSSH Panel                           *
*                                                                         *
*    All connections are monitored and recorded                          *
*    Disconnect IMMEDIATELY if you are not an authorized user!            *
*                                                                         *
***************************************************************************
